<!DOCTYPE html>
	{% include 'bdrsite/header.html' %}
	<body>
		{% include 'bdrsite/nav.html' %}

		<section id = "main" class = "wrapper">
			<div class = "container">
				<header class = "major special">
					<h2>What is the web about?</h2>
				</header>
				<br>
				<ul class = "actions">
					<li><a href = "/tutorial" class = "button special">Back</a></li>
				</ul>
				<br>

		      		<p>New information coming soon!</p>
				<p>New information coming soon!</p>
				<p>New information coming soon!</p>
				<p>New information coming soon!</p>
				<p>New information coming soon!</p>
				<p>New information coming soon!</p>
				<p>New information coming soon!</p>
			
			<br>
                                <ul class = "actions">
                                        <li><a href = "/tutorial" class = "button special">Back</a></li>
                                </ul>
                        <br>
			</div>
		</section>
		{% include 'bdrsite/footer.html' %}
		{% include 'bdrsite/scripts.html' %}
	</body>
</html>
