<!DOCTYPE html>
	{% include 'bdrsite/header.html' %}
	<body>
		{% include 'bdrsite/nav.html' %}
		<!-- Main -->
		<section id="main" class="wrapper">
			<div class="container">
				<header class="major special">
					<h2 class = "test00">Tutorial</h2>
					<p>More infromations coming soon!!</p>
				</header>
				
				<style type = "text/css">
					h2.test00
					{
						color:Blue;
					}
				</style>
                </section>

                {% include 'bdrsite/footer.html' %}
		{% include 'bdrsite/scripts.html' %}
	</body>
</html>
