<!DOCTYPE html>
	{% include 'bdrsite/header.html' %}
	<body>
		{% include 'bdrsite/nav.html' %}
		<!-- Main -->
		<section id="main" class="wrapper">
			<div class="container">
				<header class="major special">
					<h2 class = "test00">Analysis</h2>
					<p>Select or enter a query.</p>
				</header>
				
				<style type = "text/css">
					h2.test00
					{
						color:red;
					}
				</style>
				
				<h2>
					<br>
					<p>Tutorials coming soon!</p>
					

			</div>
		</section>
		
		{% include 'bdrsite/footer.html' %}
		{% include 'bdrsite/scripts.html' %}
	</body>
</html>
